/**
 * Run Out Colors Project Page
 * (c)2012 Marc Dannemann
 */
@font-face {
  font-family: 'RandiRegular';
    src:  url('randi/randi-webfont.eot');
    src:  url('randi/randi-webfont.eot?#iefix') format('embedded-opentype'),
          url('randi/randi-webfont.woff') format('woff'),
          url('randi/randi-webfont.ttf') format('truetype'),
          url('randi/randi-webfont.svg#RandiRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* { margin: 0; padding: 0; }
body { color: #FFF; font-family: "Tahoma", sans-serif; padding: 10px; background: url(images/bg.jpg) no-repeat fixed; }
a { color: #FFF; text-decoration: none; }
a:hover { text-decoration: underline; color: #2B2; }
h2 a { text-decoration: underline; }
ul, ol { list-style-position: inside; }
.hidden { display: none; }
.required { color: #F00; font-size: 11px; }
.error-box { color: #000; font-size: 12px; border: 2px solid #F00; background: #FAA; padding: 5px; width: 490px; margin-bottom: 5px; }

#root { width: 850px; margin: 0 auto; position: relative; right: 100px; }
#banner { width: 100%; height: 206px; background: #000 url(images/banner.png) no-repeat; }
#content { width: 100%; background-color: rgba(50,50,50,0.6); }
#content-inner { width: 97%; padding: 10px; min-height: 500px; }
#footer { width: 100%; padding: 0; background: #000; }
#copyright { width: 200px; height: 20px; font-size: 11px; margin: 0 auto; padding-top: 5px; text-align: center; }
#debug { width: 100%; margin: 0 auto; font-size: 11px; font-family: Courier; color: #FFF; background: #000; }
#advertising { position: absolute; top: 10px;  right: 10px; }
#twitterfeed { position: absolute; top: 270px; right: 10px; }

#advertising, #twitterfeed { width: 200px; background: rgba(50,50,50,0.6); border: 1px solid #111; font-family: "Myriad Pro"; }
#advertising ul > span, #twitterfeed ul > span { font-size: 10px; }
#advertising li, #twitterfeed li { list-style: inside none; padding-left: 10px; }
#advertising ul { margin: 0px 10px 10px 10px; }
#twitterfeed li { font-size: 13px; padding-bottom: 10px; }

#twitterfeed span { margin-left: 10px; }
#twitterfeed .tweet { width: 90%; clear: both; }
#twitterfeed .tweet img { width: 39px; height: 38px; float:left; padding: 5px 5px 5px 0px; }
#twitterfeed .tweet a { text-decoration: none; color: #FFF; font-size: 12px; }
#twitterfeed .tweet a:hover { text-decoration: underline; }

/* 
 * CSS3 and HTML5 Dropdown Menu
 * http://tympanus.net/codrops/2010/07/16/slide-down-box-menu/
 */
#menu { width: 100%; height: 85px; }
#menu ul { margin: 0; padding: 0; list-style: none; font-family: "RandiRegular", "Myriad Pro", sans-serif; 
  font-size: 14px; width: 100%; }
#menu ul a { text-decoration: none; outline: none; }
#menu ul li { float: left; width: 170px; height: 85px; position: relative; cursor: pointer; }
#menu ul li > a { position: absolute; top: 0; left: 0; width: 170px; height: 85px; z-index: 12;
  background: url(images/overlay.png) no-repeat bottom right; box-shadow: 0px 0px 2px #000; }
#menu ul li a img { border: none; position: absolute; width: 0px; height: 0px; bottom: 0; left: 85px;
  z-index: 100; box-shadow: 0px 0px 4px #000; }
#menu ul li span.wrap { position: absolute; top: 25px; left: 0; width: 170px; height: 60px; z-index: 15; }
#menu ul li span.active { position: absolute; background: #111; top: 85px; width: 170px; height: 0px;
  left: 0; z-index: 15; box-shadow: 0px 0px 4px #000 inset; opacity: 0.95; }
#menu ul li span span.link, #menu ul li span span.descr, #menu ul li div.box a { margin-left: 15px;
  text-transform: uppercase; text-shadow: 2px 2px 2px #040; }
#menu ul li span span.link { color: #FFF; font-size: 24px; float: left; clear: both; }
#menu ul li span span.descr { color: #2B2; float: left; clear: both; width: 155px; font-size: 10px; letter-spacing: 1px; }
#menu ul li div.box { display: block; position: absolute; width: 170px; overflow: hidden; height: 170px;
  top: 85px; left: 0; display: none; background: #000; opacity: 0.8; }
#menu ul li div.box a { float: left; clear: both; line-height: 30px; color: #2B2; }
#menu ul li div.box a:first-child { margin-top: 15px; }
#menu ul li div.box a:hover { color: #FFF; }

/* Contact Form */
#contact-form { margin: 15px 20px; }
#contact-form input, #contact-form textarea { margin-bottom: 5px; display: block; width: 500px; border: 1px solid #CCC; 
  background: #FFF; }
#contact-form textarea { height: 150px; }
#contact-form input[name=chars] { display: inline; width: 40px !important; }
#contact-form input[type=submit] { display: block; margin-top: 10px; width: 100px !important; }
#contact-form input[type=submit]:hover { background: #2B2; color: #FFF; }

/* Articles */
.entry { margin-bottom: 15px; }
.entry .content { background: rgba(100,100,100,0.2); font-size: 14px; padding: 2px 10px; margin: 5px; min-height: 163px; }
.entry .content .attachments { margin: 15px 10px; }
.entry .content .preview { float: left; margin: 5px 10px 0 0; border: 1px solid #444; }
.entry p { margin: 5px 0; }
.entry span { font-size: 11px; }

#pagination { width: 100%; background: rgba(0,0,0,0.6); }
#pagination td { padding: 2px 5px; }
#pagination a { text-decoration: underline; }

/* Gallery */
#gallery-categories a:hover { text-decoration: none; }
#gallery-categories img { max-height: 120px; background-color: #FFF; }
#gallery-categories div.title { margin: 0px 7px; width: 150px; font-size: 16px; font-weight: bold; }
#gallery-categories div.descr { margin: 10px 5px; font-size: 11px; height: 30px; }
#gallery-images td { width: 300px; padding: 10px; }
#gallery-images img, #gallery-categories img { border: 3px solid #444; }
#gallery-images img:hover, #gallery-categories img:hover { border-color: #2B2; }
#gallery-image-full img { max-width: 750px; display: block; }
#gallery-image-full a:link { text-decoration: underline; }

/* Facebook Integration */
#lb-content { width: 100%; }
#lb-content .fb-comments { width: 100%; overflow: auto; }
#gallery-image-full .fb-comments { margin-top: 20px; }